.homepg-body{
    width: 100%;
    height: 100vh;
    background-color: #F7F8FA;
}
.homepage-header{
    width: 100%;
    height: 5vh;
    background-color: gray;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.cname-head{
    color: white;
    font-size: x-large;
    font-weight: 600;
}

.logout{
    width: 80px;
    height: 40px;
    background-color: #0089ED;
    border: 1px solid #0089ED;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
    margin-right: 40px;
    color: white;
}
.bdy-cnt{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.username{
    color: white;
    font-size: 15px;
    margin-right: 0px;
}

.welcomehome-msg{
    font-size: 55px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.msgcnt{
    font-size: 24px;
    font-weight: bold;
    color: gray;
}