.login-wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #F7F8FA;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .Login-Form{
    width: 540px;
    height: 540px;
    background-color: white;
    box-shadow: black;
    border-radius: 20px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  .Loginform-header{
    display: flex;
    justify-content: space-between;
  }
  .lgn-head{
    display: flex;
    flex-direction: column;
    padding: 40px;
  }
  .Login-header{
    display: flex;
    
    gap: 6px;
  }
  .sign-in{
    color: #000000;
    font-size: 55px;
    font-weight:900;
  }
  .welcome-msg{
    color: #000000;
    font-size: 21px;
  }
  .c-name{
    font-weight:900;
    font-size: 21px;
    color: #0089ED;
  }
  .signup-cnt{
    display: flex;
    flex-direction: column;
    padding: 40px;
  }
  .no-accnt{
    color: #8D8D8D;
    font-weight: normal;
    font-size: 15px;
  }

  .signup-btn{
    background-color: white;
    border: none;
    cursor: pointer;
    font-weight: normal;
    font-size: 15px;
    color: #0089ED;

  }

  .Signin-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
  }
  .email-cnt{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .password-cnt{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .email-input{
   padding: 10px;
   border-radius: 9px;
   border: 2px solid #E0E0E0;
  }
  .password-input{
  padding: 10px;
  border-radius: 9px;
  border: 2px solid #E0E0E0;
  }
  .Signin-btn-cnt{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    
  }
  .signin-btn{
    width: 100%;
    background-color: #0089ED;
    border: 1px solid #0089ED;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  .signin-txt{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
  }
  .userdetails-cnt {
    width: 100%;
    display: flex;
    gap: 60px; 
  }
  
  .username-cnt,
  .contactno-cnt {
    display: flex;
    flex-direction: column;
    width: 60%; 
  }
  .otp-field {
    width: 100%;
    height: 50vh;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  .otp-field input {
    text-align: center;
    font-size: 18px;
    letter-spacing: 4px;
  }
  .signin-otp-btn{
    width: 50%;
    background-color: #0089ED;
    border: 1px solid #0089ED;
    padding: 10px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }